/*font incoporado por Guillermo 30-04-2023*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.contenedor{
    display: grid;
    gap: 10px;
    background-color:  #a7e4ef;
    padding: 10px;
    grid-template-rows: fr fr fr fr;
    grid-template-areas:
        'logo logo   logo   logo'
        'main main main main'
        'conte conte  carru carru'
        'footer footer footer footer';
}


.item1 {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item2 {
    grid-area: main;
   
}

.item3 {
    grid-area: conte;
    
}

.item4 {
    grid-area: carru;
    
}

.item5 {
    grid-area: footer;
    
}
/*syg animacion*/
.animate__animated.animate__rotateIn{ 
     --animate-duration: 3s;
}

.animate__animated.animate__backInUp{ 
    --animate-duration: 5s;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 1rem;
    height: 100%;

}

/*body, header, main, footer {
    /*border: 1px rgba(251, 4, 4, 0.945) solid;*/
   /* min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
    
}*/

body {
    background-color: #a8e3ef;
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

main {
    min-height: 100px;
    overflow: auto;
    background-color: white;
    
}

header {
    background-color: #9ad3da;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: grey;
}


/* contenedor ppal */
main>div {
    /*border: 1px blue solid;*/
    min-height: 280px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 65%;
}
.maindiv{
    border: transparent;
    min-height: 280px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 65%;
}

main>aside {
    /* border: 2px blue solid; */
    min-height: 180px;
    margin: 0.5rem;
    min-width: 20%;
    margin: 0.5rem;
    float: left;
    width: auto;
}
.secciones {
    border: 2px green solid;
    min-height: 50px;
    margin: 0.5rem;
}

.secciones article {
    border: 2px purple solid;
    margin: 0.5rem;
    min-height: 20px;
}

#gif-ppal {
    width: 100%;
}

.foto{
    width: 100%;
}

/* logo y menu */
.header-img{
    height: auto;
    max-height: 300px;
    max-width: 300px;
    width: auto;  
    

}

.header-menubar {
    left: auto;
    top: auto;
    width: auto;
    display: flex;
    margin: 0.5rem 0 0 0.5rem;
}

.header-menubar ul {
    list-style: none;

}

.header-menubar li {
    float: left;
    font-weight: 700;
    text-align: auto;
    margin: 0 4px 5rem 0;

}

.header-menubar a {
    text-decoration: none;
    color: black;
}

.header-menubar a:hover {
    color: #c7f8dc;
}
.header-menubar li a {
    font-size: 1.2rem;
    background: transparent;
}

/* pagina profesionales */
table {
    width: auto;
}
table, th, td {
    border: 1px solid green solid;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
aside.gift-aviso {
    min-height: 180px;
    margin: 0.5rem;
    min-width: 19%;
    margin: 0.5rem, 0, 0, 0.5rem;
    float: center;
    width: 270px;
    

}

/* pagina alumnos */
.tbAlumnos {
    width: auto;
}
.tbAlumnos, th, td {
    border: 1px transparent;
    border-collapse: collapse;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.Apoyo {
   border: 1px solid rgb(130, 238, 216);
   background-color: rgb(130, 238, 216);
   color: white;
   text-align: center;
   padding: 0.8rem; 
}

.Coltb-alu {
    border: 1px solid rgba(130, 225, 238, 0.618);
    background-color:  rgba(130, 225, 238, 0.618);
    color: black;
    text-align: center;
    padding: 0.8rem; 
 }


/* pagina contactos */
aside.ascont {
    border: 2px ;
    min-height: 180px;
    margin: 0.5rem;
    min-width: 90%;
    margin: 0.5rem;
    float: center;
    width: auto;
}



/*formulario contacto agregado por Guille 30-04-2023*/
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif; 
}*/

.container-form{
    display: grid;
    grid-template-columns: repeat(2,fr);
    grid: gap 20px;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i{
    color: orange;
    margin-right: 10px;

}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;

}

.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover{
    background: #e39403;
}
/* fin contacto guille*/

/* Style de Guillermo 30-04-2023*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #a8e3ef;
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;

}

.menu {
  background-color: #e9aa18;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid#fff;
  box-shadow: 5px 0 10px rgba(0,0,0,.6);
  
}
.paragraph{
    padding: 1em;
    margin: 0;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina {
 background-color: #0a141d;
 padding: 1em 0;
 text-align: center;
 text-decoration: none;
 margin-top: auto;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding:45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h3{
    color:#fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease ;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #c7f8dc;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.pie-pagina .grupo-2 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.logo {
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a {

    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.menu_items li:hover, li.active {
    background-color: rgba(0,0,0,.3);
    transition: .4s;
}
.btn_menu {
 
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display:none;
}

ul.show {
    top: 65px;
}

.sociales {
    width: 75px;
    padding: 20px;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: rgb(251, 255, 0);
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    text-decoration: none;
}


.item {
    box-sizing: border-box;
    border:solid 3px rgb(255, 19, 58);
    background-color: rgb(53, 87, 129);
    color: black;
    border-radius: 3px;
}

.grupo-2 {
    text-decoration: none;
}

.container-Alum{
    max-width: 100%;
    min-width: 100%;
    min-height: 140px;
    max-height: 150px;
}

.container-Alum .btn-Apoyo{
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease;
}

.container-Alum .btn-Apoyo:hover{
     background: #e39403;
}




/* modo desktop */
@media screen and (min-width: 900px){
    
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16;
    }

}

/* modo tablet */
@media screen and (max-width: 890px){
    
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16;
    }
    .contenedor{
        grid-template-areas:
            'logo logo   logo   logo'
            'main main main main'
            'conte conte  conte conte'
            'carru carru carru carru'
            'footer footer footer footer';
    }

   

}

/* modo celular - vertical*/
@media screen and (max-width: 800px){
    
    .menu{
        height: 65px;
        
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: absolute;
        width: 100vw;
      /*  height: calc(100% - 65px);*/
        background-color: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;    
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color:#84d8e1b8;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    .contenedor{
        grid-template-areas:
            'logo logo   logo   logo'
            'main main main main'
            'conte conte  conte conte'
            'carru carru carru carru'
            'footer footer footer footer';
    }

}

/* modo celular - landscape*/
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
    .contenedor{
        grid-template-areas:
            'logo logo   logo   logo'
            'main main main main'
            'conte conte  conte conte'
            'carru carru carru carru'
            'footer footer footer footer';
    }
    
}

/* Fin de style de Guillermo 30-04-2023 */
